<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\WATCHERXERIFE\ProjetoXerife.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gunga;initial catalog=watcher;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>-->
  <appSettings>
    <add key="IntegrationUser" value="vixintegracao" />
    <add key="IntegrationUserPassword" value="vixteam*2015" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ChannelProjetoWebServiceSoap11Binding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ChannelOperacaoWebServiceSoap11Binding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ChannelApontamentoWebServiceSoap11Binding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="20000000" maxStringContentLength="20000000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://vixteam.jexperts.com.br/channel/services/ChannelProjetoWebService.ChannelProjetoWebServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="ChannelProjetoWebServiceSoap11Binding" contract="ChannelProjetoWebService.ChannelProjetoWebServicePortType" name="ChannelProjetoWebServiceHttpSoap11Endpoint">
        <headers>
          <soapenv:Header xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:Security soapenv:actor="" soapenv:mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:UsernameToken>
                <wsse:Username>root</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">bNxc62ELenkV2Uh4AnzNkw==</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </soapenv:Header>
        </headers>
      </endpoint>
      <endpoint address="https://vixteam.jexperts.com.br/channel/services/ChannelOperacaoWebService.ChannelOperacaoWebServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="ChannelOperacaoWebServiceSoap11Binding" contract="ChannelOperacaoWebService.ChannelOperacaoWebServicePortType" name="ChannelOperacaoWebServiceHttpSoap11Endpoint">
        <headers>
          <soapenv:Header xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:Security soapenv:actor="" soapenv:mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:UsernameToken>
                <wsse:Username>root</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">bNxc62ELenkV2Uh4AnzNkw==</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </soapenv:Header>
        </headers>
      </endpoint>
      <endpoint address="https://vixteam.jexperts.com.br/channel/services/ChannelApontamentoWebService.ChannelApontamentoWebServiceHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="ChannelApontamentoWebServiceSoap11Binding" contract="ChannelApontamentoWebService.ChannelApontamentoWebServicePortType" name="ChannelApontamentoWebServiceHttpSoap11Endpoint">
        <headers>
          <soapenv:Header xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:Security soapenv:actor="" soapenv:mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:UsernameToken>
                <wsse:Username>root</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">bNxc62ELenkV2Uh4AnzNkw==</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </soapenv:Header>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>