@{
    ViewBag.Title = "VPN";
    ViewBag.SubTitle = "Conceder Acesso";
}

@section Menu {
    @Scripts.Render("~/Scripts/Vpn/all.js")
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Conceder Acesso</h3>
            </div>
            <form role="form">
                <div class="box-body">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Usuario*</label>
                            <select id="ddUsuario" class="form-control">
                                <option value="" selected="selected"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Data Fim*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" class="form-control pull-right" id="dataFim">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Justificativa*</label>
                            <textarea id="taJustificativa" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button id="btIncluir" type="submit" class="btn btn-primary">Conceder Acesso</button>
                    <a href="@Url.Action("Index", "UsuarioVpns")" class="btn btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("select#ddUsuario").chosen();
        GetListaUsuariosAD(function (usuarioList) {
            $.each(usuarioList, function (i, val) {
                $("select#ddUsuario").append($('<option></option>').val(val.Login).html(val.Nome));
            });
            $("select#ddUsuario").trigger("chosen:updated");
        });
    })
</script>


