
@{
    ViewBag.Title = "VPN";
    ViewBag.SubTitle = "Consulta";
}

@section Menu {
    @Scripts.Render("~/Scripts/Vpn/all.js")
}

@*@Styles.Render("~/AdminLTE/plugins/datatables/css")*@
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <a href="@Url.Action("Create", "UsuarioVpns")" class="btn btn-primary">Conceder Acesso</a>
            </div>
            <div class="box-body">
                <table id="tbUsuarioVpn" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Login
                            </th>
                            <th>
                                Fim
                            </th>
                            <th>
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Usuario</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-12" style="display:none;">
                        <div class="form-group">
                            <label for="idUsuario">Id</label>
                            <input type="text" class="form-control" id="idUsuario" placeholder="idUsuario" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" class="form-control" id="login" disabled="disabled" placeholder="login" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Data Fim*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" class="form-control pull-right" id="dataFim">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Justificativa*</label>
                            <textarea id="taJustificativa" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnProlongarAcesso">Prolongar Acesso</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js/all.js")
    @*@Scripts.Render("~/Scripts/Tables/Data")*@

}
<script>
    $(document).ajaxStart(function () { Pace.restart(); });
    $(document).ready(function () {
        GetUsuarioVpn(function (usuarioList) {
            $.each(usuarioList.dado, function (i, val) {
                var newRow = "<tr>";
                newRow = newRow + "<tr>";
                newRow = newRow + "<td>" + val.Nome + "</td>";
                newRow = newRow + "<td>" + val.Login + "</td>";
                newRow = newRow + "<td>" + val.Fim + "</td>";
                newRow = newRow + "<td>";
                newRow = newRow + "<a href='#' title='Prolongar Acesso' onclick='return ProlongarAcesso(" + val.Id + ")'> <i class='fa fa-fw fa-refresh'></i> </a>";
                if (usuarioList.acesso) {
                    newRow = newRow + "<a title='Acesso Vitalício' href='UsuarioVpns/ConcederAcessoVitalicio?login=" + val.Login + "'> <i class='fa fa-fw fa-warning'></i> </a>";
                }
                newRow = newRow + "<a title='Remover Acesso' href='UsuarioVpns/RevogarAcesso?login=" + val.Login + "'> <i class='fa fa-fw fa-remove'></i> </a>";
                newRow = newRow + "</td>";
                newRow = newRow + "</tr>";
                $("table#tbUsuarioVpn>tbody").append(newRow);
            });
        });
    })
</script>