@{
    ViewBag.Title = "Consultas";
    ViewBag.SubTitle = "Capacidade dos Colaboradores";
}

@section Menu {
    @Scripts.Render("~/Scripts/Consultas/all.js")
    @*@Scripts.Render("~/Scripts/Widgets/menu")*@
}

<div class="row">
    <div id="colaboradores" class="col-md-12">
    </div>
</div>

<script id="hidden-template" type="text/x-custom-template">
    <div class="col-md-3">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header">
                <div class="widget-user-image">
                    <img class="img-circle" src="~/AdminLTE/dist/img/user.svg" alt="User Avatar">
                </div>
                <h3 class="widget-user-username">Nadia Carmichael</h3>
            </div>
            <div class="box-footer no-padding">
                <ul id="capacity" class="nav nav-stacked"></ul>
            </div>
        </div>
    </div>
</script>
<script>
    $(document).ajaxStart(function () { Pace.restart(); });
</script>